*.apk
*.ap_
*.dex
*.class
bin/
gen/
out/
.gradle/
build/
local.properties
proguard/
*.log
.navigation/
captures/
*.iml
*.iws
/out/
.idea_modules/
compiler.xml
misc.xml
modules.xml
profiles_settings.xml
.idea/*